@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>
    Программа тестирования знаний по технике безопасности
</h2>

<p>Программа создана для проверки знаний по технике безопасности</p>
