@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Safety</h1>
    <p class="lead">Программа тестирования и контроля качества знаний по технике безопасности</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Простота использования</h2>
        <p>
            Тестирование проходит быстро, а результат даёт чёткий ответ об уровне знаний пользователя о технике безопасности
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Конфиденциальность</h2>
        <p>
            Доступ к билетам, а так же результатам тестирования разделен. Только достоверные пользователи имеют доступ к информации.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Эффективность</h2>
        <p>За короткое время система даст ответ об уровне знаний пользователя.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>