@model IEnumerable<Safety.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пользователи</h2>

<table class="table">
    <tr>
        <td>
            <strong>Фамилия</strong>
        </td>
        <td>
            <strong>Имя</strong>
        </td>
        <td>
            <strong>Email</strong>
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Результаты", "Results", new { id=item.Id })
        </td>
    </tr>
}

</table>
