@model IEnumerable<Safety.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пользователи</h2>
@Html.Partial("NameFilterPartial")

<div id="results">
    @Html.Partial("NamesPartial")
</div>